<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Ticket</display-name>

    <!--
     - Cette classe sera instanciée au démarrage de l'application web par le serveur d'application.
     - Le serveur appelle ensuite la méthode contextInitialized sur l'instance qu'il vient de créer.
     - Cette méthode crée l'instance de ManagerFactory et l'injecte dans l'attribut static dédié (managerFactory) de la classe AbstractResource.
    -->
    <!--
    <listener>
        <listener-class>org.example.demo.ticket.webapp.listener.DependencyInjectionListener</listener-class>
    </listener>
    -->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:/applicationContext.xml</param-value>
    </context-param>

</web-app>
